<!DOCTYPE html>
<html>
<head>
  <title>New design</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/codemirror.css">
  <link rel="stylesheet" href="/actions/sketchboard/css/sketchboard.action.css">
  <link rel="stylesheet" href="/actions/code/css/code.action.css">
</head>

<body>
  <div id="thewall"></div>

  <span id="publish-all" class="publish-all"><a href="#">Publish</a> you have unpublished messages</span>

  <nav>
    <ul>
      <li>
        <a href="#">Layers(<span id="text-messageCount">${messages.length}</span>)</a>
        <div>
	        <ul id="layers">
	          {{partial(messages) "layer"}}
	        </ul>
        </div>
      </li>
      <li>
        <a href="#">Online(<span id="text-clientCount">${clients.length}</span>)</a>
        <div>
	        <ul id="clients">
	          {{partial(clients) "client"}}
	        </ul>
	       </div>
      </li>
    </ul>
  </nav>
  
  <iframe src="/edit" id="edit" allowTransparency="true"></iframe>
  
  <div id="messages">
    {{each(i) messages}}
      {{partial({id: i, meta: messages[i].meta}) "iframe"}}
    {{/each}}
  </div>
  
  {{if !client.name}}
    <div id="splash">
      <div>
        <h1><span>Welcome to</span> THE WALL</h1>

        <form id="form-setName">
          <p>
            <input type="text" id="input-name" name="name" placeholder="choose a username…" />
            <input type="text" id="input-email" name="email" placeholder="email (not visible)…" />
            <div class="gravatar-use"><span>Gravatar use only</span></div>
          </p>
          <p><button type="submit"><span>Sign in!</span></button></p>
        </form>

        <a href="#" class="what">What is this?</a>
      </div>
    </div>
  {{/if}}
  
  <ul id="contextMenu">
  </ul>
  
  <!--div id="mouseFollower">
    <div></div>
    <span>S</span>
  </div-->
  
  <script type="text/javascript">
    var app = {
      clientId: '${session.clientId}',
      client:   {
        name:     '${client.name}',
        email:    '${client.email}'
      },
      config:   {
        maxMessages: ${config.maxMessages}
      }
    };
  </script>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/thewall.js"></script>
  <script src="/js/bootstrap.js"></script>

  <script type="text/x-jquery-tmpl" id="tpl-client">
    {{html includeTemplate('views/client.html')}}
  </script>

  <script type="text/x-jquery-tmpl" id="tpl-iframe">
    {{html includeTemplate('views/iframe.html')}}
  </script>
  
  <script type="text/x-jquery-tmpl" id="tpl-layer">
    {{html includeTemplate('views/layer.html')}}
  </script>

  <script type="text/x-jquery-tmpl" id="tpl-contextMenu">
    {{html includeTemplate('views/contextMenu.html')}}
  </script>

  <script type="text/x-jquery-tmpl" id="tpl-action-colorpicker">
    <div class="toolbar rounded popover colorpicker arrow-left">
      <canvas id="colorpicker" width="188" height="188"></canvas>
      <button class="close"><i class="icon-remove"></i></button>
    </div>
  </script>

  <!-- Text action -->
  {{html includeTemplate('public/actions/text/views/includes.html')}}

  <!-- Code action -->
  {{html includeTemplate('public/actions/code/views/includes.html')}}

  <!-- Sketchboard action -->
  {{html includeTemplate('public/actions/sketchboard/views/includes.html')}}

  <!-- Image action -->
  {{html includeTemplate('public/actions/image/views/includes.html')}}

  <!-- Video action -->
  {{html includeTemplate('public/actions/video/views/includes.html')}}
</body>
</html>