<!DOCTYPE html>
<html>
<head>
  <title>New design</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/codemirror.css">
</head>

<body>
  <div id="thewall"></div>

  <span class="publish-all"><a href="#">Publish</a> you have unpublished messages</span>

  <nav>
    <ul>
      <li>
        <a href="#">Layers(<span id="text-messageCount">${messages.length}</span>)</a>
        <ul id="layers">
          {{each(i) messages}}
            {{partial({id: i}) "layer"}}
          {{/each}}
        </ul>
      </li>
      <li>
        <a href="#">Online(<span id="text-clientCount">${clients.length}</span>)</a>
        <ul id="clients">
          {{partial(clients) "client"}}
        </ul>
      </li>
    </ul>
  </nav>
  
  <iframe src="/edit" id="edit" allowTransparency="true"></iframe>
  
  <div id="messages">
    {{each(i) messages}}
      {{partial({id: i}) "iframe"}}
    {{/each}}
  </div>
  
  {{if !client.name}}
  <div id="splash">
    <div>
      <h1><span>Welcome to</span> THE WALL</h1>
      
      <form id="form-setName" action="/client">
        <p><input type="text" id="input-name" placeholder="choose a username…"> <input type="text" id="input-email" placeholder="email (not visible)…"> <div class="gravatar-use"><span>Gravatar use only</span></div></p>
        <p><button type="submit"><span>Sign in!</span></button></p>
      </form>
      
      <a href="#" class="what">What is this?</a>
    </div>
  </div>
  {{/if}}
  
  <ul id="contextMenu">
    <li><a href="#text">Add text</a></li>
    <li><a href="#image">Add image</a></li>
    <li><a href="#video">Add video</a></li>
    <li><a href="#draw">Add drawing</a></li>
    <li class="delimited"><a href="#code">Add custom code</a></li>
  </ul>
  
  <!--div id="mouseFollower">
    <div></div>
    <span>S</span>
  </div-->
  
  <script type="text/javascript">
    var app = {
      clientId: '${session.clientId}',
      name:     '${session.clientId.name}'
    };
  </script>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
  <script src="/js/faye-browser-min.js"></script>
  <script src="/js/sketchboard.js"></script>
  <script src="/js/codemirror.js"></script>
  <script src="/js/mode/css/css.js"></script>
  <script src="/js/mode/javascript/javascript.js"></script>
  <script src="/js/mode/xml/xml.js"></script>
  <script src="/js/mode/htmlmixed/htmlmixed.js"></script>
  <script src="/js/thewall.js"></script>
  <script src="/js/global.js"></script>
  
  <script type="text/x-jquery-tmpl" id="tpl-client">
    {{html includeTemplate('views/client.html')}}
  </script>

  <script type="text/x-jquery-tmpl" id="tpl-iframe">
    {{html includeTemplate('views/iframe.html')}}
  </script>
  
  <script type="text/x-jquery-tmpl" id="tpl-layer">
    {{html includeTemplate('views/layer.html')}}
  </script>
  
  <script type="text/x-jquery-tmpl" id="code-message">
    <div class="message code-editor">
      <div class="toolbox">
        <button class="btn publish inline">Publish</button>
        <button class="btn hide inline">Hide</button>
        <button class="btn cancel inline">Cancel</button>
      </div>
      <div class="input">
        <textarea name="code"></textarea>
      </div>
    </div>
  </script>
  
  <script type="text/x-jquery-tmpl" id="img-message">
    <div class="message image">
      <div class="slider">
        <input type="range" step="1" min="10" value="2000" max="2000" name="range">
      </div>
      <div class="input">
      </div>
      <div class="toolbox rounded arrow">
        <button class="btn publish"><i class="icon-ok icon-large"></i> Publish</a></button>
        <input type="text" class="input url" placeholder="Image url">
        <button class="btn cancel right"><i class="icon-remove icon-large"></i> Remove</button>
      </div>
    </div>
  </script>
  
  <script type="text/x-jquery-tmpl" id="tpl-sketchboard">
    <div class="sketchboard message">
      <div class="toolbox rounded vertical">
        <button class="btn publish"><i class="icon-ok icon-large"></i></button>
        <button class="btn"><i class="icon-pencil icon-large"></i></button>
        <button class="btn colorpick"><span></span></button>
        <button class="btn cancel"><i class="icon-remove icon-large"></i></button>
      </div>
      <div class="inner">
      </div>
    </div>
  </script>
  
  <script id="text-message" type="text/x-jquery-tmpl">
    <div class="message text">
      <div class="input">
        <p contenteditable="true"></p>
      </div>
      <div class="toolbox rounded arrow">
        <button class="btn publish"><i class="icon-ok icon-large"></i> Publish</button>
        <button class="btn font-style" rel="bold"><strong>B</strong></button>
        <button class="btn font-style" rel="italic"><em>I</em></button>
        <button class="btn font-style" rel="underline"><ins>U</ins></button>
        <div class="select">
          <span>Helvetica</span>
          <i class="icon-chevron-down icon-large"></i>
        
          <select class="font-face">
            <option>Satisfy</option>
            <option>Designosaur</option>
            <option>Journal</option>
            <option>Salsa</option>
            <option>Ubuntu Mono</option>
            <option>Arial</option>
            <option selected="selected">Helvetica</option>
          </select>
        </div>
        <div class="select">
          <span>Medium</span>
          <i class="icon-chevron-down icon-large"></i>
        
          <select class="font-size">
            <option value="1">Tiny</option>
            <option value="3">Small</option>
            <option value="5" selected="selected">Medium</option>
            <option value="7">Large</option>
          </select>
        </div>
        <button class="btn cancel right"><i class="icon-remove icon-large"></i> Remove</button>
      </div>
    </div>
  </script>

</body>
</html>