<!DOCTYPE html>
<html>
<head>
  <title>New design</title>
  <link rel="stylesheet" href="../public/css/theme/normalize.css">
  <link rel="stylesheet" href="../public/css/theme/typography.css">
  <link rel="stylesheet" href="../public/css/theme/layout.css">
  <link rel="stylesheet" href="../public/css/theme/misc.css">
  <style>
    .playground { width: 800px; margin: 100px auto; }
      .playground > * {
        margin-bottom: 10px;
      }
  </style>
</head>

<body>
  <div class="playground">
    <div class="toolbox"></div>
    <div class="toolbox arrow"></div>
    
    <a class="btn" href="#">En knapp</a>
    <a class="btn" href="#"><i class="icon-user icon-large"></i> Online (5)</a>
    <a class="btn publish" href="#"><i class="icon-ok icon-large"></i> Publish</a>
    <a class="btn cancel" href="#"><i class="icon-remove icon-large"></i> Cancel</a>
    
    <input type="text" class="input" placeholder="Placeholder..">
    
    <div class="select">
      <span>Helvetica <i class="icon-chevron-down icon-large"></i></span>
    
      <select>
        <option>Helvetica</option>
        <option>Arial</option>
      </select>
    </div>
    
    <div class="toolbox rounded arrow">
      <a class="btn publish" href="#"><i class="icon-ok icon-large"></i> Publish</a>
      <a class="btn" href="#"><strong>B</strong></a>
      <a class="btn" href="#"><em>I</em></a>
      <a class="btn" href="#"><ins>U</ins></a>
      <div class="select">
        <span>Helvetica <i class="icon-chevron-down icon-large"></i></span>
      
        <select>
          <option>Helvetica</option>
          <option>Arial</option>
        </select>
      </div>
      <a class="btn cancel right" href="#"><i class="icon-remove icon-large"></i> Remove</a>
    </div>
  </div>

</body>
</html>