@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Salsa);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

.message { position: absolute; }

body > div.image {
  position: absolute;
}

  .message.text > .input > p { outline: none; font: normal 24px/1 Helvetica, Arial, sans-serif; }