<script src="/actions/code/js/codemirror.js"></script>
<script src="/actions/code/js/mode/css/css.js"></script>
<script src="/actions/code/js/mode/javascript/javascript.js"></script>
<script src="/actions/code/js/mode/xml/xml.js"></script>
<script src="/actions/code/js/mode/htmlmixed/htmlmixed.js"></script>

<script src="/actions/code/js/code.action.js"></script>

<script type="text/x-jquery-tmpl" id="tpl-action-code">
  <div class="message code-editor">
    <div class="toolbar">
      <button class="action positive publish">Publish</button>
      <button class="action hide">Hide</button>
      <button class="action negative cancel">Cancel</button>
    </div>
    <div class="input">
      <textarea name="code"></textarea>
    </div>
  </div>
</script>