<script src="/actions/sketchboard/js/sketchboard.js"></script>
<script src="/actions/sketchboard/js/sketchboard.action.js"></script>

<script type="text/x-jquery-tmpl" id="tpl-action-sketchboard">
  <div class="message sketchboard">
    <div class="toolbar vertical rounded">
      <button class="action positive publish"><i class="icon-ok"></i></button>
      <button class="action brush-settings"><i class="icon-pencil"></i></button>
      <button class="action colorpicker"><span></span></button>
      <button class="action negative cancel"><i class="icon-remove"></i></button>
    </div>
    <div class="input">
    </div>
  </div>
</script>

<script type="text/x-jquery-tmpl" id="tpl-action-sketchboard-popover">
  <div class="toolbar rounded popover brushSettings arrow-left">
    <div class="action select">
      <select class="brush-style">
        <option value="simple" selected="selected">Simple</option>
        <option value="ribbon">Ribbon</option>
        <option value="web">Web</option>
        <option value="sketchy">Sketchy</option>
        <option value="longfur">Longfur</option>
        <option value="circles">Circles</option>
        <option value="chrome">Chrome</option>
        <option value="squares">Squares</option>
      </select>
    </div>
    <!--div class="slider">
      <strong>Brush size</strong>
      <input type="range" step="1" min="1" value="1" max="10" class="brush-size">
    </div-->
    <button class="close"><i class="icon-remove"></i></button>
  </div>
</script>
