body { font: 12px Arial; color: #333; }

p { margin: 0 0 10px; }

@font-face {
  font-family: 'Designosaur';
  src: url('/css/fonts/designosaur-regular-webfont.eot');
  src: local('☺'), url('fonts/designosaur-regular-webfont.woff') format('woff'), url('/css/fonts/designosaur-regular-webfont.ttf') format('truetype'), url('/css/fonts/designosaur-regular-webfont.svg#DesignosaurRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Journal';
  src: url('/css/fonts/journal-webfont.eot');
  src: local('☺'), url('/css/fonts/journal-webfont.woff') format('woff'), url('/css/fonts/journal-webfont.ttf') format('truetype'), url('/css/fonts/journal-webfont.svg#JournalRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url('http://themes.googleusercontent.com/static/fonts/amaticsc/v2/DPPfSFKxRTXvae2bKDzp5LO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}