<script src="/actions/text/js/text.action.js"></script>

<script type="text/x-jquery-tmpl" id="tpl-action-text-message">
  <div class="message text" contenteditable="true"><p>&nbsp;</p></div>
</script>

<script type="text/x-jquery-tmpl" id="tpl-action-text-toolbar">
  <div class="text toolbar dynamic rounded arrow">
    <button class="action positive publish"><i class="icon-ok icon-large"></i> Publish</button>
    <button class="action negative cancel"><i class="icon-remove icon-large"></i> Remove</button>
    <button class="action font-style" rel="bold"><strong>B</strong></button>
    <button class="action font-style" rel="italic"><em>I</em></button>
    <button class="action font-style" rel="underline"><ins>U</ins></button>
    <div class="action select">
      <select class="font-face">
        <option>Satisfy</option>
        <option>Designosaur</option>
        <option>Journal</option>
        <option>Salsa</option>
        <option>Ubuntu Mono</option>
        <option>Arial</option>
        <option selected="selected">Helvetica</option>
      </select>
    </div>
    <div class="action select">
      <select class="font-size">
        <option value="1">Tiny</option>
        <option value="3">Small</option>
        <option value="5" selected="selected">Medium</option>
        <option value="7">Large</option>
      </select>
    </div>
    <a class="action move"><i class="icon-move"></i></a>
  </div>
</script>